name: Release

on: [workflow_dispatch]

jobs:
  test:
    name: Run tests
    uses: ./.github/workflows/test.yml

  release:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_OWNER_TOKEN }}
          persist-credentials: false

      - name: Latest NPM to use provenance
        run: npm install -g npm@9

      - name: Install dependencies
        run: npm i

      - name: Semantic release
        uses: codfish/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_OWNER_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GIT_AUTHOR_NAME: '${{ github.actor }}'
          GIT_COMMITTER_NAME: '${{ github.actor }}'
